.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

a.brand-logo.center {
    font-size: 3em;
    font-family: Andale Mono, monospace;
    font-weight: bold;
}

.page-footer {
    background-color:grey;
}


