.flashes h4 {
  line-height: 2;
}

.btn-small {
  margin: 5px;
}

button.col.s12.btn-large {
  background-color: black;
}

a.brand-logo.center {
  font-size: 3em;
  font-family: 'Courier New', monospace;
}

.nav-wrapper {
  border-bottom: 1px solid black;
}

h4.center-align {
  font-size: 3em;
  font-family: 'Courier New', monospace;
  margin-top: 0;
}

h4.light-blue {
  font-size: 1.5em;
}

h6.white-text {
  font-family: 'Courier New', monospace;
  font-size: 2em;
}

h6.black-text {
  font-family: 'Courier New', monospace;
}

span.card-title {
  font-family: 'Courier New', monospace;
}

p {
  font-family: 'Courier New', monospace;
}

.page-footer {
  background-color: grey;
  height:13em;
  border-top: 1px solid black;
}

.page-banner {
  background-color: grey;
  height:13em;
}

div.welcome {
  margin: auto;
  width: 80%;
}

footer.page-footer {
  background-color: #F0F0F0	;
  height: 12em;
}

div.card.center-align {
  border-color:black;
  border-style: solid;
}

@media only screen and (max-width: 900px) {
  .page-banner {
    height: 15em;
  }
}

@media only screen and (max-width: 620px) {
  .page-banner {
    height: 16em;
  }
}

@media only screen and (max-width: 490px) {
  .page-banner {
    height: 17em;
  }
}

@media only screen and (max-width: 410px) {
  .page-banner {
    height: 19em;
  }
}

@media only screen and (max-width: 355px) {
  .page-banner {
    height: 21em;
  }
}

@media only screen and (max-width: 290px) {
  .page-banner {
    height: 22em;
  }
}