.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

a.brand-logo.center {
    font-size: 3em;
    font-family: 'Courier New', monospace;
}

span.card-title {
    font-family: 'Courier New', monospace;
}

p {
    font-family: 'Courier New', monospace;
}

.page-footer {
    background-color:grey;
}

.page-banner {
    background-color:grey;
    height: 13em;
}

div.welcome {
    margin: auto;
    width: 80%;
}

@media only screen and (max-width: 900px) {
    .page-banner {
      height: 15em;
    }
  }

  @media only screen and (max-width: 620px) {
    .page-banner {
      height: 16em;
    }
  }

  @media only screen and (max-width: 490px) {
    .page-banner {
      height: 17em;
    }
  }

  @media only screen and (max-width: 410px) {
    .page-banner {
      height: 19em;
    }
  }

  @media only screen and (max-width: 355px) {
    .page-banner {
      height: 21em;
    }
  }

  @media only screen and (max-width: 290px) {
    .page-banner {
      height: 22em;
    }
  }