.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

a.brand-logo.center {
    font-size: 3em;
    font-family: Andale Mono, monospace;
    font-weight: bold;
}

.page-footer {
    background-color:grey;
}

.page-banner {
    background-color:grey;
    height: 17em;
}

h3.white-text.center-align {
    color: black;
}

div.welcome {
    margin: auto;
    width: 80%;
}


