{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Edit Item</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_item', item_id=item._id) }}">
            <!-- category selection --> 
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose Category</option>
                    {% for category in categories %}
                        {% if category.category_name == item.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                    <label for="category_name">Item Category</label>
                  </div>

            </div>
            <!-- item name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix light-blue-text text-darken-4"></i>
                    <input id="item_name" name="item_name" minlength="5" maxlength="50" 
                    value="{{ item.item_name }}" type="text" class="validate" required>
                    <label for="item_name">Item Name</label>
                </div>
            </div>
            <!-- item description -->  
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-phone prefix light-blue-text text-darken-4"></i>
                    <textarea id="item_description" name="item_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- item.item_description -}}
                    </textarea>
                    <label for="item_description">Item Description</label>
                </div>
            </div>
            <!-- date listed picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="date_listed" name="date_listed" type="text" 
                        value="{{ item.due_date }}" class="datepicker validate" required>
                    <label for="date_listed">Date Listed</label>
                </div>
            </div>
            <!-- is sold toggle -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
						<label for="is_sold">
                            {% if item.is_sold == "on" %}
                                <input type="checkbox" id="is_sold" name="is_sold" checked>
                            {% else %}
                                <input type="checkbox" id="is_sold" name="is_sold">
                            {% endif %}
                            <span class="lever"></span>
                            Is Sold
                        </label>
					</div>
				</div>
			</div>
             <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
            <!-- cancel button -->
            <a href="{{ url_for('get_item') }}" class="btn-large red text-shadow">
                Cancel <i class="fas fa-times-circle right"></i>
            </a>
            <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Edit Item <i class="fas fa-edit right"></i>
            </button>
            </div>
        </form>
    </div>

{% endblock %}