{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">All Items</h3>

    <ul class="collapsible">
        {% for item in item %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ item.item_name }}</strong> : {{ item.date_listed }}
                {% if item.is_sold == "on" %}
                    <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                        data-position="right" data-tooltip="SOLD"></i>
                {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>{{ item.category_name }}</strong>
                <p>{{ item.item_description }}</p>
                <p><em>by: {{ item.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}